In [1]:
import numpy as np
import pandas as pd
import math
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

In [2]:
data = pd.read_csv('C:/Users/Nguyen/Documents/Python Scripts/fclaims_pastyr2.csv')
data.drop("MemberID", axis = 1, inplace = True)
data.head()

,Drug_total,DSFS_drugcount,Lab_total,DSFS_labcount,Provider_Total,Provider_Distinct,Vendor_Distinct,PCP_Distinct,Specialty_Distinct,PlaceSvc_Distinct,...,55.000,65.000,75.000,80.000,missing_age,Sex_male,Sex_female,missing_sex,ClaimsTruncated,Target
0,5.0,3.0,2.0,1.0,8,4,4,2,3,3,...,0,0,0,0,0,0,0,1,0,0
1,5.0,4.0,0.0,0.0,5,3,3,1,2,2,...,0,0,0,0,0,0,1,0,0,0
2,30.0,10.0,10.0,1.0,13,7,7,1,4,3,...,0,0,0,0,1,0,1,0,0,0
3,61.0,10.0,0.0,0.0,4,3,3,1,3,1,...,1,0,0,0,0,0,1,0,0,0
4,2.0,2.0,0.0,0.0,4,2,2,1,2,1,...,0,1,0,0,0,0,1,0,0,0

In [3]:
# Nhập các feature vào X, y
y = data['Target']
X = data.loc[:, data.columns != 'TARGET']
X.head()

,Drug_total,DSFS_drugcount,Lab_total,DSFS_labcount,Provider_Total,Provider_Distinct,Vendor_Distinct,PCP_Distinct,Specialty_Distinct,PlaceSvc_Distinct,...,55.000,65.000,75.000,80.000,missing_age,Sex_male,Sex_female,missing_sex,ClaimsTruncated,Target
0,5.0,3.0,2.0,1.0,8,4,4,2,3,3,...,0,0,0,0,0,0,0,1,0,0
1,5.0,4.0,0.0,0.0,5,3,3,1,2,2,...,0,0,0,0,0,0,1,0,0,0
2,30.0,10.0,10.0,1.0,13,7,7,1,4,3,...,0,0,0,0,1,0,1,0,0,0
3,61.0,10.0,0.0,0.0,4,3,3,1,3,1,...,1,0,0,0,0,0,1,0,0,0
4,2.0,2.0,0.0,0.0,4,2,2,1,2,1,...,0,1,0,0,0,0,1,0,0,0

In [28]:
X.shape

(76038, 119)

In [26]:
data['Target'].nunique()

16

In [27]:
data['Target'].unique()

array([ 0,  3,  1, 15,  4,  5, 10, 13,  2,  6,  7,  8, 11, 12,  9, 14],
      dtype=int64)

In [4]:
def eval(model, X_test, y_test):
    y_pred = model.predict(X_test) # your predicted y values
    y_pred = y_pred.astype(int)
    # The root mean square logarithmic error
    msle = np.mean( (np.log(y_pred + 1) - np.log(y_test + 1)) ** 2)
    rmsle = math.sqrt(msle)
    return rmsle

In [5]:
#Split dataset theo training set và test set
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

In [6]:
# Scale data Y1
# Chọn Standard Scaler - Chia từng value cho standard deviation
# Gần với dạng normal distribution và cũng giảm outlier

from sklearn.preprocessing import StandardScaler
scaler = StandardScaler().fit(X)
new_X = scaler.transform(X)

In [36]:
from sklearn.ensemble import RandomForestRegressor
model = RandomForestRegressor(max_depth = 3, max_features = 50
                  , min_samples_leaf =  3, bootstrap = True, min_impurity_decrease = 0.0
                  , random_state = 3, n_estimators = 1000, n_jobs = -1, oob_score = False)
#Train model theo training sets
model.fit(new_X, y)
y_pred = model.predict(new_X)

In [25]:
depth = [x.get_depth() for x in model.estimators_]
depth

[10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 9,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 6,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 8,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10]

In [37]:
eval(model, new_X, y)

0.2586570761741394

In [29]:
new_X.shape

(76038, 119)

In [38]:
data_Y2 = pd.read_csv('C:/Users/Nguyen/Documents/Python Scripts/fclaims_curryr2.csv')
data_Y2.drop("MemberID", axis = 1, inplace = True)
data_Y2.drop("Year", axis = 1, inplace = True)

y_Y2 = data_Y2['Target']
X_Y2 = data_Y2.loc[:, data_Y2.columns != 'TARGET']
X_Y2.head()

,Drug_total,DSFS_drugcount,Lab_total,DSFS_labcount,Provider_Total,Provider_Distinct,Vendor_Distinct,PCP_Distinct,Specialty_Distinct,PlaceSvc_Distinct,...,55.000,65.000,75.000,80.000,missing_age,Sex_male,Sex_female,missing_sex,ClaimsTruncated,Target
0,0.0,0.0,1.0,1.0,6,3,3,1,3,2,...,0,0,0,0,0,0,0,1,0,0
1,3.0,2.0,2.0,1.0,5,4,3,1,4,2,...,0,0,0,0,0,0,1,0,0,0
2,17.0,4.0,9.0,2.0,10,5,5,2,3,2,...,0,0,0,0,0,0,1,0,0,0
3,35.0,11.0,11.0,5.0,20,3,3,1,3,2,...,0,0,1,0,0,0,1,0,0,0
4,0.0,0.0,0.0,0.0,2,1,1,1,1,1,...,0,0,0,0,0,1,0,0,0,0

In [39]:
scaler2 = StandardScaler().fit(X_Y2)
new_X2 = scaler.transform(X_Y2)

In [40]:
eval(model, new_X2, y_Y2)

0.2532690851534116

In [41]:
y_pred2 = model.predict(new_X2)

In [42]:
data_pred2 = pd.read_csv('C:/Users/Nguyen/Documents/Python Scripts/fclaims_curryr2.csv')

In [43]:
data_pred2['y_pred2'] = y_pred2

In [44]:
display(data_pred2.describe().transpose())

,count,mean,std,min,25%,50%,75%,max
MemberID,71435.0,4.993986e+07,2.894077e+07,4.000000,2.477813e+07,4.995379e+07,7.521986e+07,9.999882e+07
Drug_total,71435.0,1.071907e+01,1.601824e+01,0.000000,0.000000e+00,3.000000e+00,1.500000e+01,8.400000e+01
DSFS_drugcount,71435.0,3.864030e+00,4.210155e+00,0.000000,0.000000e+00,2.000000e+00,8.000000e+00,1.200000e+01
Lab_total,71435.0,6.650157e+00,7.875864e+00,0.000000,0.000000e+00,5.000000e+00,1.000000e+01,9.400000e+01
DSFS_labcount,71435.0,1.713670e+00,1.975234e+00,0.000000,0.000000e+00,1.000000e+00,2.000000e+00,1.200000e+01
...,...,...,...,...,...,...,...,...
Sex_female,71435.0,4.441800e-01,4.968778e-01,0.000000,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00
missing_sex,71435.0,1.981242e-01,3.985890e-01,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00
ClaimsTruncated,71435.0,5.661091e-02,2.310992e-01,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00
Target,71435.0,4.378946e-01,1.531780e+00,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,1.500000e+01
y_pred2,71435.0,4.520675e-01,1.080664e+00,0.097478,9.898566e-02,1.272159e-01,2.951799e-01,9.357152e+00

In [45]:
comparision = data_pred2.groupby('MemberID')['y_pred2','Target'].sum()
comparision.head(100)

<ipython-input-45-aeaa31b52bcb>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  comparision = data_pred2.groupby('MemberID')['y_pred2','Target'].sum()

           y_pred2  Target
MemberID
4         0.097525       0
210       0.216711       0
3197      0.099905       0
3457      0.097525       0
3713      0.118108       0
...            ...     ...
143235    0.275970       0
144822    0.219615       0
144895    0.099093       0
145801    6.117280       7
147164    3.220252       4

[100 rows x 2 columns]